h1 {
	text-align: center;
	color: #FFFFFF;
	font-family: "custom-font";
}

body {
	background-image: url("http://www.goheels.com/fls/3350/graphics/wallpapers/dark-ram-old-1280.jpg?SPID=108097&DB_OEM_ID=3350");
}

#main_heading {
	font-weight: bold;
}

@font-face {
    font-family: "custom-font";
    src: url(/custom-font.ttf);
}

.navbar-default {
    background-color: #99BADD;
    border-color: #99BADD;
}

.navbar > .container-fluid .navbar-brand {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}

.top_area {
	width: 80%;
	margin: auto;
/*	border: 2px solid rgb(100,100,100); */
	height: 255px;
	border-radius: 3px;
}

.submit_form {
	border: thin solid rgb(100,100,100);
	background-color: #ffffff;
	margin: auto;
	width: 300px;
	height: 230px;
	margin-top: 20px;
	border-radius: 8px;
}

.submit_form #post_heading {
	position: relative;
	font-size: 18px;
	text-align: center;
	width: 300px;
	right: 2px;
	color: rgba(100,100,100);
}

.submit_form #post_body {
	padding: 2px;
}

.submit_form #post_body #post_body_form {
	width: 290px;
	height: 150px;
	font-size: 14px;
	resize: none;
	border: thin solid rgb(100,100,100);
	border-radius: 2px;
	margin-left: 2px;
}

.submit_form #post_bottom #reply_button {
	float: right;
	position: relative;
	bottom: -3px;
	right: 5px;
}

.submit_form #post_bottom #thread_button {
	float: right;
	position: relative;
	bottom: -3px;
	right: 5px;
}

#message_board {
	padding: 10px;
}

#message_board > p {
	color: #FFFFFF;
}

#homepage_link {
	color: #ffffff;
	font-size: 14px;
}

.live {
	text-align: left;
	word-wrap: break-word;
	border: 2px solid rgb(100,100,100);
	border-radius: 15px;
	padding-left: 10px;
	background-color: rgba(123,175,212,.5);
	color: #FFFFFF;
	font-size: 120%;
}

.original_post:hover {
	background-color: rgba(100,100,100,.3);
	cursor: pointer;
}
