h1 {
	text-align: center;
}

body {
	background-color: rgb(255,255,255);
	background-image: url("http://i853.photobucket.com/albums/ab97/nygsbc78/Tar_Heel_Brick_Wallpaper.jpg");;
}

.top_area {
	width: 80%;
	margin: auto;
	border: thin solid rgb(0,0,0);
	height: 255px;
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
}

.submit_form {
	border: thin solid rgb(0,0,0);
	margin: auto;
	width: 300px;
	height: 210px;
	margin-top: 20px;
	border-radius: 8px;
}

.submit_form #post_heading {
	font-size: 18px;
	text-align: center;
	width: 300px;
	border-bottom: thin solid rgb(0,0,0);
}

.submit_form #post_body {
	padding: 2px;
}

.submit_form #post_body #post_body_form {
	width: 290px;
	height: 150px;
	font-size: 12px;
	resize: none;
}

.submit_form #post_bottom #post_button {
	float: right;
	position: relative;
	bottom: 3px;
	right: 5px;
}

#message_board {
	padding: 10px;
}

div.live {
	text-align: left;
	word-wrap: break-word;
	border: thin solid rgb(0,0,0);
	border-radius: 2px;
	padding-left: 10px;
}
